<h1><%= t('spree.adcurve') %></h1>
<div class="col-md-6">
  <br />
  <br />
  <% if @adcurve_tag.new_record? %>
    <%= form_for [:admin, @adcurve_tag] do |f| %>
      <%= render :partial => "form", :locals => { :f => f } %>
    <% end %>

  <% else %>
    <%= form_for [:admin, @adcurve_tag], :method => :put do |f| %>
      <%= render :partial => "form", :locals => { :f => f } %>
    <% end %>
    <br />
  <% end %>

  <% if @adcurve_tag.api_key.present? %>
    <%= link_to 'Test Conection', {controller: "adcurve_tags", action: "test_conection"}, :name => 'test conection', :class => 'btn btn-primary', remote: true %>
  <% end %>
</div>
